<div class="container">
{{ form_start(form) }}
    <div class="row">{{ form_row(form.title) }}</div>
    <div class="row">{{ form_row(form.description) }}</div>
    <div class="row">{{ form_row(form.model) }}</div>
    <div class="row">{{ form_row(form.prix) }}</div>
    <div class="row">{{ form_row(form.year) }}</div>
    <div class="row">{{ form_row(form.km) }}</div>
    <div class="row">{{ form_row(form.fuel) }}</div>
    <div class="row">{{ form_row(form.license) }}</div>
    {# <div class="row">{{ form_row(form.imgFile) }}</div> #}
    <div class="row">{{ form_row(form.marque) }}</div>
    {# <div class="row">{{ form_row(form.author) }}</div> #}
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
</div>