{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="container"></div>
	<h1 class="title text-center mt-4 mb-4">Les annonces de :
		{{app.user.username}}
	</h1>

	<div class="cards-container">
		<div class="cards">
			{% for annonce in annonces %}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile )}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							{{annonce.title}}
						</h5>
						<p class="card-text">
							{{annonce.description|raw}}
						</p>
						<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-success">Voir en détail</a>
						{% if app.user %}
							{% if annonce.isUsersFav(app.user) %}
								<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-success">
									<i class="fa-solid fa-heart"></i>
								</a>
							{% else %}
								<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}" class="btn btn-success">
									<i class="fa-regular fa-heart"></i>
								</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</div>
	</div>

	<h1 class="title text-center mt-4 mb-4">Favoris de :
		{{app.user.username}}
	</h1>
	<div class="cards-container">
		<div class="cards">
			{% for annonce in annoncesFav %}
				<div class="card" style="width: 18rem;">
					{# <img class="card-img-top" src="{{asset('images_directory/' ~ annonce.annonces.imgfile )}}" alt="Card image cap"> #}
					<img class="card-img-top" src="{{asset(annonce.annonces.imgfile )}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							{{annonce.annonces.title}}
						</h5>
						<p class="card-text">
							{{annonce.annonces.description|raw}}
						</p>
						<a href="{{ path('app_annonce_show', {'id': annonce.annonces.id}) }}" class="btn btn-success">Voir en détail</a>
						{% if app.user %}
							{% if annonce.annonces.isUsersFav(app.user) %}
								<a href="{{ path('app_annonce_fav', {'id': annonce.annonces.id}) }}" class="btn btn-success">
									<i class="fa-solid fa-heart"></i>
								</a>
							{% else %}
								<a href="{{ path('app_annonce_fav', {'id': annonce.annonces.id}) }}" class="btn btn-success">
									<i class="fa-regular fa-heart"></i>
								</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</div>
	</div>
{% endblock %}
